.page__content {
    background-color:var(--secondary);
    flex: 0 1 80%;
    display: flex;
    flex-direction: column;
}

.page_content__navbar {
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    align-items: center;
}

.navbar__burger {
    font-size: 1.5rem;
}

.navbar__navbar_menu {
    display: flex;
    align-items: center;
}

.navbar_menu__noti {
    font-size: 1.25rem;
}

.navbar_menu__setting {
    font-size: 1.25rem;
    margin-left: 0.7rem;
}

.navbar_menu__language {
    border-radius: 50%;
    margin-left: 0.7rem;
    height: 1.25rem;
    width: 1.25rem;
    overflow: hidden;
}

.navbar_menu__profile {
    margin-left: 1rem;
    display: flex;
    align-items: center;
}

.profile__img {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    overflow: hidden;
}

.profile__name {
    margin-left: 0.25rem;
    cursor: pointer;
}

.profile__name__text {
    font-weight: bold;
    margin-right: 0.3rem;
    cursor: pointer;
}

.content_container {
    padding: 0 2rem;
}

.page_content__overview {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.overview__text {
    font-weight: bold;
    font-size: 1.5rem;
}

.overview__date_box {
    display: flex;
}

.date_box__input_box {
    position: relative;
}

.date_box__input_box input {
    padding: 0.3rem;
    width: 8rem;
    border-radius: 5px;
    border-color: whitesmoke;
    border: 1px solid #ccc;
    padding-right: 2rem;
}

.date_box__input_box i {
    position: absolute;
    top: 0.3rem;
    right: 0.7rem;
}

.content_container__first_section {
    display: flex;
    margin: 1rem 0;
}

.first_section__report {
    flex: 0 1 60%;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
}

.report__box_row {
    display: flex;
    justify-content: space-between;
    background-color: tomato;
}

.box_row__box {
    height: 7rem;
    width: 30%;
    background-color: teal;
}

.report_graph {
    flex-grow: 1;
    background-color: thistle;
}

.first_section__list_box {
    flex: 0 1 40%;
    background-color: white;   
    margin-left: 1rem;
}


.list_box__top_container {
    width: 100%;
    height: 35rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.top_container__list_box {
    flex-grow: 1;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.list_box__item_box {
    display: flex;
    align-items: center;
    height: 3.5rem;
    width: 100%;
    padding: 0.7rem 0;
    border-bottom: 1px solid #dcdcdc;
}

.item_box__img {
    height: 100%;
}

.item_box__text {
    margin-left: 1rem;
}

.item_box__left {
    margin-left: auto;
    margin-right: 1rem;
    font-weight: bold;
}







